add_stamp.html


html
html
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<html>
<head>
<head>
<title>Add a new stamp</title>
<title>Add a new stamp</title>
</head>
</head>
<body>
<body>
<h1>Add a new stamp</h1>
<h1>Add a new stamp</h1>
<form action="/add_stamp" method="post">
<form action="/add_stamp" method="post">
<label for="stamp">Stamp:</label>
<label for="stamp">Stamp:</label>
<input type="text" name="stamp" id="stamp">
<input type="text" name="stamp" id="stamp">
<input type="submit" value="Add stamp">
<input type="submit" value="Add stamp">
</form>
</form>
</body>
</body>
</html>
</html>




