search_stamps.html


html
html
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<html>
<head>
<head>
<title>Search for stamps</title>
<title>Search for stamps</title>
</head>
</head>
<body>
<body>
<h1>Search for stamps</h1>
<h1>Search for stamps</h1>
<form action="/search_stamps" method="post">
<form action="/search_stamps" method="post">
<label for="search_term">Search term:</label>
<label for="search_term">Search term:</label>
<input type="text" name="search_term" id="search_term">
<input type="text" name="search_term" id="search_term">
<input type="submit" value="Search">
<input type="submit" value="Search">
</form>
</form>
<ul>
<ul>
{% for result in results %}
{% for result in results %}
<li>{{ result }}</li>
<li>{{ result }}</li>
{% endfor %}
{% endfor %}
</ul>
</ul>
</body>
</body>
</html>
</html>




CSS code:
